<!-- <fd-panel>
  <fd-panel-header>
    <fd-panel-head>
      <app-kb-search></app-kb-search>
    </fd-panel-head>
  </fd-panel-header>
  <fd-panel-body>
    <app-kb-list></app-kb-list>
  </fd-panel-body>
</fd-panel> -->

<section class="fd-section">
  <app-kb-search (search)="onSearch($event)" [kbArticleSearchResultCount]="(searchResultsCount$ | async)">
  </app-kb-search>
</section>
<section class="fd-section">
  <div fd-list fdInfiniteScroll (onScrollAction)="loadNextPage()"  [scrollPercent]="scrollPercent" (scroll)="scrollHandler($event)"
    style="max-height: 700px; overflow: auto;">
    <app-kb-list [kbArticleCollection]="(searchedArticles$ | async)"></app-kb-list>
  </div>
</section>