<fd-input-group #searchinput [button]="true" [placeholder]="'Type some text...'" [glyph]="'search'" [placement]="'after'"
    (addOnButtonClicked)="searchKB(searchinput.inputText)" (keyup.Enter)="searchKB(searchinput.inputText)">
</fd-input-group>

<div class="main-container">
    <div class="left-container"><label class="fd-has-type-0">Search Result[{{searchResultsCount$ | async}}]</label></div>
    <div class="right-container"><button fd-button [fdType]="'standard'" [options]="'light'"
            [glyph]="'decline'"></button></div>
</div>